@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Sedan;
  src: url("./fonts/SedanSC-Regular.ttf");
}

.sedan{
  font-family: Sedan;
}

@font-face {
  font-family: Quando;
  src: url("./fonts/Quando-Regular.ttf");
}

.quando{
  font-family: Quando;
}

.gradient {
  background-image: linear-gradient(#9e7653 100px, #eee7ce 150px);
}

.gradientWhite {
  background-image: linear-gradient(#eee7ce, #FFFEF7 40px);
}

body{
  background-color: #eee7ce;
}